body {
    width:70%;
    margin: 0 auto;
    background: black;
}

#header {
    width: 100%;
    font-family: monospace;
    font-size: 15px;
    text-align: center;
    color: orange;
    filter: blur(.4px);
    border-bottom: solid orange;
    padding:10px 0;

    .title {
        width: 100%;
        font-family: monospace;
        font-size: 50px;
        text-align: center;
        color: orange;
        filter: blur(.4px);
        padding:10px 0;
        text-decoration: none;
    }

    .external_link {
        width: 100%;
        font-family: monospace;
        font-size: 15px;
        text-align: center;
        color: orange;
        filter: blur(.4px);
        padding:10px 0;
    }
}

#page_nav {
    display: block;
    margin:auto;
    font-family: monospace;
    font-size: 15px;
    text-align: left;
    color: orange;
    filter: blur(.4px);

    a {
        width: 100%;
        font-family: monospace;
        font-size: 15px;
        text-align: center;
        color: orange;
        filter: blur(.4px);
        padding:10px 0;
    }
}


.article {
    padding:10px 0;
    
    h2 {
        font-family: monospace;
        font-size: 20px;
        color: orange;
        filter: blur(.4px);
        padding:10px 0;
    }

    a {
        font-family: monospace;
        color: orange;
    }

    img {
        display: block;
        margin:auto;
    }

    iframe {
        display: block;
        margin:auto;
    }

    p, li {
        font-family: monospace;
        font-size: 15px;
        text-align: left;
        color: orange;
        filter: blur(.4px);
        padding:10px 0;
        line-height:  1.4;
    }
}

